.bizumground {
    background-color: rgb(153,102,153);
    color: rgb(255,255,204);
  }

  h1 {
    background-color: #c0c0c0;
    color: #000033;
    }

    body {
      background-color: #fefbd8;
    }



    